
.HomeContainer{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.h1{
    font-weight: 800;
    font-size: 3em;
    letter-spacing: 2px;
    text-shadow: 3px 3px 6px gray;
}
.h2{
    font-weight: 500;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-shadow: 1px 1px 3px gray;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
.button{
    margin: 2px;
    padding: 10px;

}