
.HomeContainer{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--mainColor);
}
.h1{
    font-weight: 800;
    font-size: 5em;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px var(--secondColor);
    color: var(--textColor);
    margin-bottom: 10px;
}
.h2{
    font-weight: 700;
    font-size: 3em;
    letter-spacing: 1px;
    text-shadow: 1px 1px 4px var(--thirdColor);
    color: var(--secondColor);
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}
.button{
    margin: 10px;
    padding: 20px;
    font-size: 1em;
    color: var(--mainColor);
    background-color: var(--secondColor);
    border: none;
    border-radius: 10px;
}
.button:hover{
    color: var(--thirdColor);
    background-color: var(--textColor);
    box-shadow: 2px 2px 7px var(--thirdColor);
    transform: scale(1.1);
    transition: ease-in 0.1s;
}