.sidebarConteiner{
    width: 3%;
    background: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    background: #1D546D;
    background: linear-gradient(0deg,rgba(29, 84, 109, 1) 0%, rgba(6, 30, 41, 1) 24%);
}
.menuImg{
    width: 4vw;
}