body{
    font-family: "Outfit", sans-serif;
    margin: 0;
}
.app{
    display: flex;
    flex-direction: row;
}
.pageContainer{
    flex: 1;
}
:root{
    --mainColor: #F3F4F4;
    --secondColor: #1D546D;
    --thirdColor: #5F9598;
    --textColor: #061E29;
}